* {
    box-sizing: border-box;
}

@font-face {
    font-family: "TT Lakes";
    src: url(../fonts/TTLakes-Black.eot);
}
@font-face {
    font-family: "AXP-CompactCBold";
    src: url(../fonts/AXP-CompactCBold.woff);
    font-family: "MagistralC";
    src: url(../fonts/MagistralC.woff);
}
.main-section {
    width: 320px;
    height: 1024px;
    font-family: "TT Lakes", sans-serif;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: #FFFFFF;
    padding-left: 24px;
}

.main-section__header-menu {
    display: flex;
    justify-content: space-around;
    padding: 18px 24px 0 0;
    margin-bottom: 50px;
    
}
.main-section__header-menu__burger {
    background-image: url('../img/burger.svg');
    margin-top: 6px;
}

.main-section__header-menu__logo {
    margin-left: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(220, 20, 60, 0.27));

}
.main-section__header-menu__logo:hover {
    animation: logo 4s;
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    30% {
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
    }
}

.main-section__header-menu__checkstatus {
    background-image: url('../img/checkstatus.svg');
    margin-top: 6px;
    margin-left: 70px;  
}

.main-section__header-menu__checkstatus:last-child {
    margin-right: 0 auto;
}

.content {
    margin-bottom: 268px;
}

.content-highligt {
    height: 32px;
    width: 4px;
    margin-left: -24px;
    background-color: #41F6D7;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content-list {
    list-style-type: none; 
    
    margin-top: -24px;
    margin-left: -40px;
}

.content-list__item {
    margin-bottom: 32px;
}

.content-list__item-link {
    font-size: 16px;
    text-decoration: none;
    color: #1B1C21;
}

.content-list__item-link:hover {
    color: #7E7E82;
}

.footere-menu {
    display: flex;
    margin-bottom: 16px;
}

.footere-menu__call {
    background-image: url('../img/call.svg');
}

.footere-menu__chat {
    background-image: url('../img/chat.svg');
}

.footere-menu__profile {
    margin-left: 16px;
    background-image: url('../img/profile.svg');
}

.footere-menu__chat {
 margin-left: 16px;
}

.address {
    margin-bottom: 12px;
}

.address-link {
    font-size: 14px;
    font-family: "MagistralC";
    letter-spacing: 3px;
    font-weight: 900; 
    
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}

.footere-number {
    font-size: 24px;
    font-weight: 700; 
}

.footere-multi {
    list-style-type: none; 
     display: flex;
}

.footere-multi {
    padding: 0;
}

.footere-multi__item {
   margin-right:  7px;
}
.footere-number-link {
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}

.footere-multi__item-link {
    font-size: 16px;
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
}

.footere-multi__item-link:hover {
    color: #7E7E82;
}

.buttone {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.4) inset;
    border: none;
    border-radius: 20px;
    padding-top: 4px;
    
}
.buttone:hover {
    background-color: #d42358dc;
    transition-duration: 1s;
    transform: scale(1.1);    
}
